<div class="otp-container">
  <h1>Enter OTP</h1>
  <form>
      <label for="otp">Enter OTP code sent to kk<%=email%> </label>
      <input type="text" id="otp" placeholder="Enter OTP" required>
      <div class="info-text">
          Don't receive OTP code? 
          <a class="resend-link" href="#">Resent</a>
          <span class="timer">1:00</span>
      </div>
      <button type="submit">Reset Password</button>
  </form>
  
</div>
